*{
	font-weight: lighter;
}

.color-background{
	background-color:green;
	background: rgba(164,179,87,1);
}
.content-text p{
	color:white;
	font-size: 16px;
}
.color-btn-continuar{
	padding: 25px;
	
}
